
stages:
  - test
  - release

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

variables:
  wget: "wget --quiet --tries=0"


.job-template: &job-template
  artifacts:
    name: "${CI_PROJECT_PATH}_${CI_JOB_STAGE}_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}"
    paths:
      - tor-android-binary/build/outputs/aar/*.aar
      - tor-android-binary/src/main/libs
      - external/include
      - external/lib
      - external/test
    expire_in: 1 week
    when: always

  after_script:
    - echo "Download debug artifacts from https://gitlab.com/${CI_PROJECT_PATH}/-/jobs"
    # this file changes every time but should not be cached
    - rm -f $GRADLE_USER_HOME/caches/modules-2/modules-2.lock
    - rm -fr $GRADLE_USER_HOME/caches/*/plugin-resolution/


.setup-template: &setup-template
- export LC_ALL=C.UTF-8
- export DEBIAN_FRONTEND=noninteractive
- echo Etc/UTC > /etc/timezone
- echo 'quiet "1";'
       'APT::Install-Recommends "0";'
       'APT::Install-Suggests "0";'
       'APT::Acquire::Retries "20";'
       'APT::Get::Assume-Yes "true";'
       'Dpkg::Use-Pty "0";'
      > /etc/apt/apt.conf.d/99gitlab
- apt-get update
- apt-get -qy dist-upgrade
- apt-get -qy install
      autoconf
      autogen
      automake
      autopoint
      autotools-dev
      gettext-base
      git
      libtool
      make
      patch
      pkg-config

- export GRADLE_USER_HOME=$PWD/.gradle
- ndk="android-ndk-r20"
- export ANDROID_NDK_HOME=/opt/$ndk
- ndk_zip="${ndk}-linux-x86_64.zip"
- $wget http://dl.google.com/android/repository/$ndk_zip
- echo "57435158f109162f41f2f43d5563d2164e4d5d0364783a9a6fab3ef12cb06ce0  $ndk_zip"
      | sha256sum -c
- unzip -qq -d /opt $ndk_zip

- export AVD_SDK=`echo $CI_JOB_NAME | awk '{print $2}'`
- export AVD_TAG=`echo $CI_JOB_NAME | awk '{print $3}'`
- export AVD_ARCH=`echo $CI_JOB_NAME | awk '{print $4}'`
- export AVD_PACKAGE="system-images;android-${AVD_SDK};${AVD_TAG};${AVD_ARCH}"
- echo $AVD_PACKAGE


.test-template: &test-template
  stage: test
  image: registry.gitlab.com/fdroid/ci-images-client:latest
  <<: *job-template
  script:
    - *setup-template

    - export V=0
    - ./tor-droid-make.sh fetch -c
    - ./tor-droid-make.sh build -a $AVD_ARCH
    - for f in tor-android-binary/src/main/libs/*/libtor.so; do sha256sum $f; done
    - for f in external/lib/*/libtor.so; do sha256sum $f; done

    - adb start-server
    - start-emulator
    - wait-for-emulator
    - adb devices
    - adb shell input keyevent 82 &

    # adb shell on older emulators didn't pass the return value, so we need tricks
    # https://stackoverflow.com/a/58452689
    - EXITVALUE=0
    - for f in test test-memwipe test-slow; do
        printf "\n\n------------------------------------------\n$f\n";
        adb -e push external/test/$AVD_ARCH/$f /data/local/tmp/;
        adb -e shell "cd /data/local/tmp; ./$f"'; echo -n $? > '"$f.result";
        test `adb -e shell "cat /data/local/tmp/$f.result"` = "0" || EXITVALUE=1;
      done
    - exit $EXITVALUE


no-accel 22 default x86_64:
  <<: *test-template

no-accel 24 default armeabi-v7a:
  <<: *test-template


release:
  stage: release
  image: debian:buster
  <<: *job-template
  variables:
    ANDROID_SDK_TOOLS:   "4333796"
  script:
    - apt-get --quiet update --yes
    - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1 default-jdk-headless
    - wget --quiet --output-document=android-sdk.zip https://dl.google.com/android/repository/sdk-tools-linux-${ANDROID_SDK_TOOLS}.zip
    - echo "92ffee5a1d98d856634e8b71132e8a95d96c83a63fde1099be3d86df3106def9  android-sdk.zip"
          | sha256sum -c
    - export ANDROID_HOME=/opt/android-sdk-linux
    - unzip -qq -d $ANDROID_HOME android-sdk.zip
    - chmod +x ./gradlew
    - mkdir -p $ANDROID_HOME/licenses
    - printf "\n8933bad161af4178b1185d1a37fbf41ea5269c55\nd56f5187479451eabf01fb78af6dfcb131a6481e\n24333f8a63b6825ea9c5514f83c2829b004d1fee" > $ANDROID_HOME/licenses/android-sdk-license

    - *setup-template

    - ./tor-droid-make.sh release
